<hr style="border: double 5px;">

# 서울시 구별 CCTV 현황 분석하기
* 서울시 구별 CCTV 수를 파악하고, 인구대비 CCTV 비율을 파악해서 순위비교
* 인구대비 CCTV의 평균치를 확인하고, CCTV가 과하거나 부족한 구를 확인한다.

<hr style="border: double 2px;">

## 파일 읽어오기

In [1]:
import numpy as np
import pandas as pd

In [28]:
#cctv_df = pd.read_csv('data/01. CCTV_in_Seoul.csv', encoding = 'utf-8', index_col='기관명')
cctv_df = pd.read_csv('data/01. CCTV_in_Seoul.csv', encoding = 'utf-8')

In [39]:
pop_df = pd.read_excel('data/01. population_in_Seoul.xls', header=2, usecols='B,D,G,J,N', encoding='utf-8')

## 읽어 온 데이터 확인

In [3]:
cctv_df.head()

       소계  2013년도 이전  2014년  2015년  2016년
기관명
강남구  2780       1292    430    584    932
강동구   773        379     99    155    377
강북구   748        369    120    138    204
강서구   884        388    258    184     81
관악구  1496        846    260    390    613

In [4]:
cctv_df.describe()

                소계    2013년도 이전       2014년       2015년       2016년
count    25.000000    25.000000   25.000000   25.000000   25.000000
mean   1179.080000   764.760000  159.480000  205.200000  385.880000
std     556.728983   415.510257  104.132976  137.877059  182.479981
min     485.000000   238.000000   21.000000   30.000000   81.000000
25%     748.000000   464.000000   78.000000  103.000000  292.000000
50%    1015.000000   573.000000  142.000000  184.000000  377.000000
75%    1496.000000  1070.000000  218.000000  269.000000  467.000000
max    2780.000000  1843.000000  430.000000  584.000000  932.000000

In [5]:
cctv_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 강남구 to 중랑구
Data columns (total 5 columns):
소계           25 non-null int64
2013년도 이전    25 non-null int64
2014년        25 non-null int64
2015년        25 non-null int64
2016년        25 non-null int64
dtypes: int64(5)
memory usage: 1.2+ KB

In [6]:
cctv_df.shape

(25, 5)

In [31]:
cctv_df.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [30]:
len(cctv_df.columns) # 칼럼 갯수

6

In [29]:
cctv_df.columns[0]

'기관명'

In [40]:
pop_df.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

<hr style="border: double 2px;">

## 데이터 열 정제

In [32]:
#cctv_df.index.name = '구별'
cctv_df.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [33]:
cctv_df.rename(columns={cctv_df.columns[0]:'구별'}, inplace=True)

In [34]:
cctv_df.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [38]:
pop_df.rename(columns={pop_df.columns[0]:'구별', pop_df.columns[1]:'인구수', pop_df.columns[2]:'한국인', pop_df.columns[3]:'외국인', pop_df.columns[4]:'고령자'}, inplace=True)
pop_df.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [41]:
pop_df.rename(columns={'자치구':'구별', '계':'인구수', '계.1':'한국인', '계.2':'외국인', '65세이상고령자':'고령자'}, inplace=True)
pop_df.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [42]:
pop_df.columns=['구별','인구수','한국인','외국인','고령자']
pop_df.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [51]:
pop_df.loc[:,'구별'].unique()

array(['합계', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구',
       '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구',
       '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', nan],
      dtype=object)

In [52]:
cctv_df.loc[:,'구별'].unique()

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object)

<hr style="border: double 2px;">

## 행 삭제

In [64]:
pop_df[pop_df['구별'].isnull()] # null 확인

Empty DataFrame
Columns: [구별, 인구수, 한국인, 외국인, 고령자]
Index: []

In [ ]:
pop_df.drop([0], inplace=True)

In [56]:
pop_df.head()

    구별       인구수       한국인      외국인      고령자
1  종로구  162820.0  153589.0   9231.0  25425.0
2   중구  133240.0  124312.0   8928.0  20764.0
3  용산구  244203.0  229456.0  14747.0  36231.0
4  성동구  311244.0  303380.0   7864.0  39997.0
5  광진구  372164.0  357211.0  14953.0  42214.0

In [59]:
pop_df.drop([len(pop_df.index)], inplace=True)
pop_df.tail()

In [ ]:
pop_df.dropna(inplace=True) # null인 값 다 삭제

In [61]:
pop_df.dropna(how='all', inplace=True) 
# how='any' : 하나라도 null이면 삭제
# how='all' : 모든 칼럼이 null이면 삭제
# thresh = 3 : null이 3개이상이면 삭제
# subset = ? : 해당 칼럼이 null이면 삭제 .. pop_df.dropna(subset=['구별', , , ], inplace=True)

In [63]:
pop_df.shape

(25, 5)

<hr style="border: double 2px;">

## 행 검색

In [70]:
cctv_df[cctv_df.iloc[:,1].min() == cctv_df['소계']] # 가장 작은 값

    구별   소계  2013년도 이전  2014년  2015년  2016년
9  도봉구  485        238    159     42    386

In [80]:
cctv_df.sort_values(by='소계', ascending=True).head(5)

     구별   소계  2013년도 이전  2014년  2015년  2016년
9   도봉구  485        238    159     42    386
12  마포구  574        314    118    169    379
17  송파구  618        529     21     68    463
24  중랑구  660        509    121    177    109
23   중구  671        413    190     72    348

In [ ]:
cctv_df['최근증가율'] = ((cctv_df['2014년']+cctv_df['2015년']+cctv_df['2016년'])/cctv_df['2013년도 이전'])*100 # 열 추가

In [82]:
cctv_df

      구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
0    강남구  2780       1292    430    584    932  150.619195
1    강동구   773        379     99    155    377  166.490765
2    강북구   748        369    120    138    204  125.203252
3    강서구   884        388    258    184     81  134.793814
4    관악구  1496        846    260    390    613  149.290780
5    광진구   707        573     78     53    174   53.228621
6    구로구  1561       1142    173    246    323   64.973730
7    금천구  1015        674     51    269    354  100.000000
8    노원구  1265        542     57    451    516  188.929889
9    도봉구   485        238    159     42    386  246.638655
10  동대문구  1294       1070     23    198    579   74.766355
11   동작구  1091        544    341    103    314  139.338235
12   마포구   574        314    118    169    379  212.101911
13  서대문구   962        844     50     68    292   48.578199
14   서초구  1930       1406    157    336    398   63.371266
15   성동구  1062        730     91    241    265   81.780822
16   성북구  1464       1009     78    360    204   63.627354
17   송파구   618        529     21     68    463  104.347826
18   양천구  2034       1843    142     30    467   34.671731
19  영등포구   904        495    214    195    373  157.979798
20   용산구  1624       1368    218    112    398   53.216374
21   은평구  1873       1138    224    278    468   85.237258
22   종로구  1002        464    314    211    630  248.922414
23    중구   671        413    190     72    348  147.699758
24   중랑구   660        509    121    177    109   79.960707

In [83]:
cctv_df.sort_values(by='2013년도 이전', ascending=True).head(5) # 오름차순 정렬

     구별   소계  2013년도 이전  2014년  2015년  2016년       최근증가율
9   도봉구  485        238    159     42    386  246.638655
12  마포구  574        314    118    169    379  212.101911
2   강북구  748        369    120    138    204  125.203252
1   강동구  773        379     99    155    377  166.490765
3   강서구  884        388    258    184     81  134.793814

In [84]:
pop_df.head(10)

      구별       인구수       한국인      외국인      고령자
1    종로구  162820.0  153589.0   9231.0  25425.0
2     중구  133240.0  124312.0   8928.0  20764.0
3    용산구  244203.0  229456.0  14747.0  36231.0
4    성동구  311244.0  303380.0   7864.0  39997.0
5    광진구  372164.0  357211.0  14953.0  42214.0
6   동대문구  369496.0  354079.0  15417.0  54173.0
7    중랑구  414503.0  409882.0   4621.0  56774.0
8    성북구  461260.0  449773.0  11487.0  64692.0
9    강북구  330192.0  326686.0   3506.0  54813.0
10   도봉구  348646.0  346629.0   2017.0  51312.0

In [85]:
pop_df['외국인비율'] = pop_df['외국인']/pop_df['인구수'] * 100
pop_df['고령자비율'] = pop_df['고령자']/pop_df['인구수'] * 100

In [88]:
pop_df.head(10)

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
1    종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
4    성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
5    광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849
6   동대문구  369496.0  354079.0  15417.0  54173.0  4.172440  14.661322
7    중랑구  414503.0  409882.0   4621.0  56774.0  1.114829  13.696885
8    성북구  461260.0  449773.0  11487.0  64692.0  2.490353  14.025062
9    강북구  330192.0  326686.0   3506.0  54813.0  1.061806  16.600342
10   도봉구  348646.0  346629.0   2017.0  51312.0  0.578524  14.717507

In [96]:
np.set_printoptions(precision=3)
pd.options.display.float_format = '{:.2f}'.format

In [98]:
pop_df.head(10)

      구별       인구수       한국인      외국인      고령자  외국인비율  고령자비율
1    종로구 162820.00 153589.00  9231.00 25425.00   5.67  15.62
2     중구 133240.00 124312.00  8928.00 20764.00   6.70  15.58
3    용산구 244203.00 229456.00 14747.00 36231.00   6.04  14.84
4    성동구 311244.00 303380.00  7864.00 39997.00   2.53  12.85
5    광진구 372164.00 357211.00 14953.00 42214.00   4.02  11.34
6   동대문구 369496.00 354079.00 15417.00 54173.00   4.17  14.66
7    중랑구 414503.00 409882.00  4621.00 56774.00   1.11  13.70
8    성북구 461260.00 449773.00 11487.00 64692.00   2.49  14.03
9    강북구 330192.00 326686.00  3506.00 54813.00   1.06  16.60
10   도봉구 348646.00 346629.00  2017.00 51312.00   0.58  14.72

In [99]:
pop_df.sort_values(by='인구수', ascending=False).head()

     구별       인구수       한국인      외국인      고령자  외국인비율  고령자비율
24  송파구 667483.00 660584.00  6899.00 72506.00   1.03  10.86
16  강서구 603772.00 597248.00  6524.00 72548.00   1.08  12.02
23  강남구 570500.00 565550.00  4950.00 63167.00   0.87  11.07
11  노원구 569384.00 565565.00  3819.00 71941.00   0.67  12.63
21  관악구 525515.00 507203.00 18312.00 68082.00   3.48  12.96

In [100]:
pop_df.sort_values(by='외국인', ascending=False).head()

      구별       인구수       한국인      외국인      고령자  외국인비율  고령자비율
19  영등포구 402985.00 368072.00 34913.00 52413.00   8.66  13.01
17   구로구 447874.00 416487.00 31387.00 56833.00   7.01  12.69
18   금천구 255082.00 236353.00 18729.00 32970.00   7.34  12.93
21   관악구 525515.00 507203.00 18312.00 68082.00   3.48  12.96
6   동대문구 369496.00 354079.00 15417.00 54173.00   4.17  14.66

In [101]:
pop_df.sort_values(by='외국인비율', ascending=False).head()

      구별       인구수       한국인      외국인      고령자  외국인비율  고령자비율
19  영등포구 402985.00 368072.00 34913.00 52413.00   8.66  13.01
18   금천구 255082.00 236353.00 18729.00 32970.00   7.34  12.93
17   구로구 447874.00 416487.00 31387.00 56833.00   7.01  12.69
2     중구 133240.00 124312.00  8928.00 20764.00   6.70  15.58
3    용산구 244203.00 229456.00 14747.00 36231.00   6.04  14.84

In [102]:
pop_df.sort_values(by='고령자비율', ascending=False).head()

      구별       인구수       한국인      외국인      고령자  외국인비율  고령자비율
9    강북구 330192.00 326686.00  3506.00 54813.00   1.06  16.60
1    종로구 162820.00 153589.00  9231.00 25425.00   5.67  15.62
2     중구 133240.00 124312.00  8928.00 20764.00   6.70  15.58
3    용산구 244203.00 229456.00 14747.00 36231.00   6.04  14.84
13  서대문구 327163.00 314982.00 12181.00 48161.00   3.72  14.72

<hr style="border: double 2px;">

# CCTV와 인구 데이터를 합쳐서 분석하기

In [106]:
cctv_df.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년  최근증가율
0  강남구  2780       1292    430    584    932 150.62
1  강동구   773        379     99    155    377 166.49
2  강북구   748        369    120    138    204 125.20
3  강서구   884        388    258    184     81 134.79
4  관악구  1496        846    260    390    613 149.29

In [107]:
pop_df.head()

    구별       인구수       한국인      외국인      고령자  외국인비율  고령자비율
1  종로구 162820.00 153589.00  9231.00 25425.00   5.67  15.62
2   중구 133240.00 124312.00  8928.00 20764.00   6.70  15.58
3  용산구 244203.00 229456.00 14747.00 36231.00   6.04  14.84
4  성동구 311244.00 303380.00  7864.00 39997.00   2.53  12.85
5  광진구 372164.00 357211.00 14953.00 42214.00   4.02  11.34

In [152]:
cctvpop_df = cctv_df.merge(pop_df)

In [153]:
cctvpop_df.head()

,구별,소계,2013년도 이전,2014년,2015년,2016년,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,2780,1292,430,584,932,150.62,570500.00,565550.00,4950.00,63167.00,0.87,11.07
1,강동구,773,379,99,155,377,166.49,453233.00,449019.00,4214.00,54622.00,0.93,12.05
2,강북구,748,369,120,138,204,125.20,330192.00,326686.00,3506.00,54813.00,1.06,16.60
3,강서구,884,388,258,184,81,134.79,603772.00,597248.00,6524.00,72548.00,1.08,12.02
4,관악구,1496,846,260,390,613,149.29,525515.00,507203.00,18312.00,68082.00,3.48,12.96

## 열 삭제

In [154]:
cctvpop_df.drop(['2014년','2015년','2016년'], inplace=True, axis=1)

In [142]:
cctvpop_df

,구별,소계,2013년도 이전,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,2780,1292,150.62,570500.00,565550.00,4950.00,63167.00,0.87,11.07
1,강동구,773,379,166.49,453233.00,449019.00,4214.00,54622.00,0.93,12.05
2,강북구,748,369,125.20,330192.00,326686.00,3506.00,54813.00,1.06,16.60
3,강서구,884,388,134.79,603772.00,597248.00,6524.00,72548.00,1.08,12.02
4,관악구,1496,846,149.29,525515.00,507203.00,18312.00,68082.00,3.48,12.96
5,광진구,707,573,53.23,372164.00,357211.00,14953.00,42214.00,4.02,11.34
6,구로구,1561,1142,64.97,447874.00,416487.00,31387.00,56833.00,7.01,12.69
7,금천구,1015,674,100.00,255082.00,236353.00,18729.00,32970.00,7.34,12.93
8,노원구,1265,542,188.93,569384.00,565565.00,3819.00,71941.00,0.67,12.63
9,도봉구,485,238,246.64,348646.00,346629.00,2017.00,51312.00,0.58,14.72
10,동대문구,1294,1070,74.77,369496.00,354079.00,15417.00,54173.00,4.17,14.66
11,동작구,1091,544,139.34,412520.00,400456.00,12064.00,56013.00,2.92,13.58
12,마포구,574,314,212.10,389649.00,378566.00,11083.00,48765.00,2.84,12.52
13,서대문구,962,844,48.58,327163.00,314982.00,12181.00,48161.00,3.72,14.72
14,서초구,1930,1406,63.37,450310.00,445994.00,4316.00,51733.00,0.96,11.49
15,성동구,1062,730,81.78,311244.00,303380.00,7864.00,39997.00,2.53,12.85
16,성북구,1464,1009,63.63,461260.00,449773.00,11487.00,64692.00,2.49,14.03
17,송파구,618,529,104.35,667483.00,660584.00,6899.00,72506.00,1.03,10.86
18,양천구,2034,1843,34.67,479978.00,475949.00,4029.00,52975.00,0.84,11.04
19,영등포구,904,495,157.98,402985.00,368072.00,34913.00,52413.00,8.66,13.01
20,용산구,1624,1368,53.22,244203.00,229456.00,14747.00,36231.00,6.04,14.84
21,은평구,1873,1138,85.24,494388.00,489943.00,4445.00,72334.00,0.90,14.63
22,종로구,1002,464,248.92,162820.00,153589.00,9231.00,25425.00,5.67,15.62
23,중구,671,413,147.70,133240.00,124312.00,8928.00,20764.00,6.70,15.58
24,중랑구,660,509,79.96,414503.00,409882.00,4621.00,56774.00,1.11,13.70

In [155]:
del cctvpop_df['2013년도 이전']

In [147]:
cctvpop_df

        구별    소계  최근증가율       인구수       한국인      외국인      고령자  외국인비율  고령자비율
구별
강남구    강남구  2780 150.62 570500.00 565550.00  4950.00 63167.00   0.87  11.07
강동구    강동구   773 166.49 453233.00 449019.00  4214.00 54622.00   0.93  12.05
강북구    강북구   748 125.20 330192.00 326686.00  3506.00 54813.00   1.06  16.60
강서구    강서구   884 134.79 603772.00 597248.00  6524.00 72548.00   1.08  12.02
관악구    관악구  1496 149.29 525515.00 507203.00 18312.00 68082.00   3.48  12.96
광진구    광진구   707  53.23 372164.00 357211.00 14953.00 42214.00   4.02  11.34
구로구    구로구  1561  64.97 447874.00 416487.00 31387.00 56833.00   7.01  12.69
금천구    금천구  1015 100.00 255082.00 236353.00 18729.00 32970.00   7.34  12.93
노원구    노원구  1265 188.93 569384.00 565565.00  3819.00 71941.00   0.67  12.63
도봉구    도봉구   485 246.64 348646.00 346629.00  2017.00 51312.00   0.58  14.72
동대문구  동대문구  1294  74.77 369496.00 354079.00 15417.00 54173.00   4.17  14.66
동작구    동작구  1091 139.34 412520.00 400456.00 12064.00 56013.00   2.92  13.58
마포구    마포구   574 212.10 389649.00 378566.00 11083.00 48765.00   2.84  12.52
서대문구  서대문구   962  48.58 327163.00 314982.00 12181.00 48161.00   3.72  14.72
서초구    서초구  1930  63.37 450310.00 445994.00  4316.00 51733.00   0.96  11.49
성동구    성동구  1062  81.78 311244.00 303380.00  7864.00 39997.00   2.53  12.85
성북구    성북구  1464  63.63 461260.00 449773.00 11487.00 64692.00   2.49  14.03
송파구    송파구   618 104.35 667483.00 660584.00  6899.00 72506.00   1.03  10.86
양천구    양천구  2034  34.67 479978.00 475949.00  4029.00 52975.00   0.84  11.04
영등포구  영등포구   904 157.98 402985.00 368072.00 34913.00 52413.00   8.66  13.01
용산구    용산구  1624  53.22 244203.00 229456.00 14747.00 36231.00   6.04  14.84
은평구    은평구  1873  85.24 494388.00 489943.00  4445.00 72334.00   0.90  14.63
종로구    종로구  1002 248.92 162820.00 153589.00  9231.00 25425.00   5.67  15.62
중구      중구   671 147.70 133240.00 124312.00  8928.00 20764.00   6.70  15.58
중랑구    중랑구   660  79.96 414503.00 409882.00  4621.00 56774.00   1.11  13.70

## 인덱스 설정

In [156]:
cctvpop_df.set_index('구별', inplace=True)
#cctvpop_df.index=cctvpop_df['구별']

<hr style="border: double 2px;">

## CCTV와 상관계수 계산하기

* 고령자비율, 외국인비율, 인구수 중에서 CCTV와 상관계수의 값을 조사

* 상관계수 : -1~ 1
* 절대값 0        : 관계 없음
* 절대값 0.1이하  : 거의 무시
* 절대값 0.3이하  : 약간 상관관계
* 절대값 0.7이하  : 아주 밀접한 상관관계

* 양의 상관관계 음의 상관관계..? : 절대값이 크면 클수록 상관관계가 있음

## 넘파이 상관관계

In [157]:
cctvpop_df.head(10)

       소계  최근증가율       인구수       한국인      외국인      고령자  외국인비율  고령자비율
구별
강남구  2780 150.62 570500.00 565550.00  4950.00 63167.00   0.87  11.07
강동구   773 166.49 453233.00 449019.00  4214.00 54622.00   0.93  12.05
강북구   748 125.20 330192.00 326686.00  3506.00 54813.00   1.06  16.60
강서구   884 134.79 603772.00 597248.00  6524.00 72548.00   1.08  12.02
관악구  1496 149.29 525515.00 507203.00 18312.00 68082.00   3.48  12.96
광진구   707  53.23 372164.00 357211.00 14953.00 42214.00   4.02  11.34
구로구  1561  64.97 447874.00 416487.00 31387.00 56833.00   7.01  12.69
금천구  1015 100.00 255082.00 236353.00 18729.00 32970.00   7.34  12.93
노원구  1265 188.93 569384.00 565565.00  3819.00 71941.00   0.67  12.63
도봉구   485 246.64 348646.00 346629.00  2017.00 51312.00   0.58  14.72

In [172]:
print(np.corrcoef(cctvpop_df['인구수'], cctvpop_df['소계']))
print(np.corrcoef(cctvpop_df['외국인'], cctvpop_df['고령자']))
print(np.corrcoef(cctvpop_df['외국인'], cctvpop_df['소계']))
print(np.corrcoef(cctvpop_df['고령자'], cctvpop_df['소계']))
print(np.corrcoef(cctvpop_df['한국인'], cctvpop_df['소계']))
print(np.corrcoef(cctvpop_df['소계'], cctvpop_df['소계']))

[[1.    0.306]
 [0.306 1.   ]]
[[ 1.    -0.155]
 [-0.155  1.   ]]
[[ 1.    -0.024]
 [-0.024  1.   ]]
[[1.    0.255]
 [0.255 1.   ]]
[[1.    0.304]
 [0.304 1.   ]]
[[1. 1.]
 [1. 1.]]

## 판다스 상관관계

In [170]:
cctvpop_df.corr()

         소계  최근증가율   인구수   한국인   외국인   고령자  외국인비율  고령자비율
소계     1.00  -0.34  0.31  0.30 -0.02  0.26  -0.14  -0.28
최근증가율 -0.34   1.00 -0.09 -0.08 -0.15 -0.07  -0.04   0.19
인구수    0.31  -0.09  1.00  1.00 -0.15  0.93  -0.59  -0.67
한국인    0.30  -0.08  1.00  1.00 -0.21  0.93  -0.64  -0.66
외국인   -0.02  -0.15 -0.15 -0.21  1.00 -0.16   0.84  -0.01
고령자    0.26  -0.07  0.93  0.93 -0.16  1.00  -0.61  -0.38
외국인비율 -0.14  -0.04 -0.59 -0.64  0.84 -0.61   1.00   0.27
고령자비율 -0.28   0.19 -0.67 -0.66 -0.01 -0.38   0.27   1.00

<hr style='border:double 5px'>